html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-size: 16pt;
  font-szie: 1em;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background: none;
  border: none;
  cursor: pointer; }

h1 {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase; }

h2 {
  font-size: 1.75em;
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase; }

p {
  font-family: "freight-display-pro"; }

a {
  color: #bab288;
  text-decoration: none; }
  a:hover {
    color: #ffa4ad; }

html, body {
  background-color: #FFF;
  font-family: "hypatia-sans-pro"; }

img {
  width: 100%;
  height: auto; }

#container {
  padding: 0; }

.row {
  width: 100%;
  display: flex; }

.desktop-nav {
  display: none; }

.header__main-header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #FFF;
  display: flex; }
  .header__main-header button {
    padding: 10px; }
    .header__main-header button.js-open-drawer, .header__main-header button.js-close-drawer {
      left: 0px;
      font-size: 2em; }
    .header__main-header button.js-open-drawer {
      color: #ffa4ad; }
  .header__main-header #inner-header {
    padding: 0;
    flex: 1; }
    .header__main-header #inner-header #logo {
      margin: 12px 0 0 10px; }
      .header__main-header #inner-header #logo img {
        width: 175px;
        height: 100%; }
  .header__main-header .nav__drawer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0% !important;
    overflow: hidden;
    -webkit-transition: height 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: height 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transition: height 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    background: #ffa4ad;
    color: #fff;
    display: block; }
    .header__main-header .nav__drawer a {
      text-transform: uppercase; }
    .header__main-header .nav__drawer .nav__drawer-wrapper .nav__drawer-header {
      display: flex; }
      .header__main-header .nav__drawer .nav__drawer-wrapper .nav__drawer-header .js-close-drawer {
        color: #FFF;
        left: 0px;
        font-size: 2em; }
      .header__main-header .nav__drawer .nav__drawer-wrapper .nav__drawer-header #inner-header {
        padding: 0;
        flex: 1; }
      .header__main-header .nav__drawer .nav__drawer-wrapper .nav__drawer-header .nav__drawer-links {
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 20px 0 10px; }
        .header__main-header .nav__drawer .nav__drawer-wrapper .nav__drawer-header .nav__drawer-links a {
          color: #FFF;
          padding: 10px 20px 10px;
          border: 0px solid #FFF;
          font-size: 0.8em; }
          .header__main-header .nav__drawer .nav__drawer-wrapper .nav__drawer-header .nav__drawer-links a:hover {
            color: #67666a;
            border: 1px solid #67666a; }

/* ----------------  MAIN NAV  ----------------- */
/* --------------------------------------------- */
ul.nav__drawer-menu {
  margin-top: 40px;
  padding: 0px 10px 20px; }
ul li a {
  color: #FFF;
  text-transform: uppercase;
  border-bottom: 1px solid #FFF;
  padding: 20px 0px 20px 0px;
  text-align: center;
  vertical-align: middle;
  display: block;
  font-weight: 400;
  letter-spacing: 0.2em; }
  ul li a:hover {
    color: #67666a;
    background: #FFF;
    font-weight: 600; }

#social-buttons {
  display: flex; }
  #social-buttons .social-media-icons {
    display: inline; }

header.nav--open {
  height: 53px;
  overflow: visible; }

.nav--open {
  position: fixed;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 0;
  overflow: hidden; }
  .nav--open .nav__drawer {
    height: 100vh !important;
    height: 100% !important;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }

/* ----------------  CONTENT  ----------------- */
/* -------------------------------------------- */
#content {
  margin-top: 52px;
  max-width: 100%; }

#inner-content {
  display: block; }

.article-header {
  border-bottom: 1px solid #67666a;
  margin: 10px; }
  .article-header .entry-title {
    font-weight: 200;
    letter-spacing: 0.15em; }
    .article-header .entry-title a {
      color: #67666a; }
      .article-header .entry-title a:hover {
        color: #ffa4ad; }
  .article-header .byline {
    padding: 10px 0;
    color: #67666a;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    text-transform: uppercase; }

.entry-content {
  padding: 10px;
  /* ----------------  SIDEBAR  ----------------- */
  /* -------------------------------------------- */ }
  .entry-content .sidebar {
    padding: 10px;
    background: #f5f7fa; }

/* ----------------  FOOTER  ----------------- */
/* ------------------------------------------- */
.footer {
  width: 100%;
  padding: 20px;
  background: red; }

@media (min-width: 768px) {
  .header__main-header #inner-header #logo img {
    width: 300px; }

  /* ----------------  NAV  ----------------- */
  /* ---------------------------------------- */
  .nav__drawer {
    max-height: 500px; }
    .nav__drawer ul {
      width: 100%; }

  /* ----------------  CONTENT  ----------------- */
  /* -------------------------------------------- */
  #content {
    padding: 10px;
    margin-top: 52px; }

  #inner-content {
    display: flex; }
    #inner-content #main {
      width: 70%;
      padding: 0 10px 0 0; }
    #inner-content .sidebar {
      padding: 10px;
      width: 30%;
      background: #f5f7fa; } }
@media (min-width: 1200px) {
  .header__main-header {
    border-bottom: 1px solid #f5f7fa;
    display: flex;
    padding: 20px 0 10px; }

  .row {
    max-width: 1400px;
    margin: 0 auto; }

  .js-open-drawer {
    display: none; }

  /* ----------------  NAV  ----------------- */
  /* ---------------------------------------- */
  #inner-header {
    display: flex; }
    #inner-header #logo {
      margin: 11px 0 0 10px; }
    #inner-header img {
      width: 600px;
      height: 100%; }

  .nav__drawer {
    display: none; }

  .desktop-nav {
    display: inline-block;
    background: red; }
    .desktop-nav ul.desktop-nav-menu {
      width: 400px;
      display: flex; }

  /* ----------------  CONTENT  ----------------- */
  /* -------------------------------------------- */
  #content {
    padding: 10px;
    margin-top: 100px; }

  #inner-content {
    display: flex;
    max-width: 1400px;
    margin: 0 auto; }
    #inner-content #main {
      flex: 1;
      padding: 0 10px 0 0; }
    #inner-content .sidebar {
      padding: 10px;
      width: 300px;
      background: #f5f7fa; } }

/*# sourceMappingURL=styles.css.map */
