html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-size: 16pt;
  font-szie: 1em;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background: none;
  border: none;
  cursor: pointer; }

h1 {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase; }

h2 {
  font-size: 1.75em;
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase; }

p {
  font-family: "freight-display-pro"; }

a {
  color: #bab288;
  text-decoration: none; }
  a:hover {
    color: #ffa4ad;
    cursor: pointer; }

html, body {
  background-color: #FFF;
  font-family: "hypatia-sans-pro"; }

p {
  margin: 0 0 1em;
  line-height: 1.5em; }

img {
  width: 100%;
  height: auto; }

#container {
  padding: 0; }

.row {
  width: 100%;
  display: flex; }

.desktop-nav {
  display: none; }

.header__main-header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #FFF;
  display: flex; }
  .header__main-header button {
    padding: 10px; }
    .header__main-header button.js-open-drawer, .header__main-header button.js-close-drawer {
      left: 0px;
      font-size: 2em; }
    .header__main-header button.js-open-drawer {
      color: #ffa4ad; }
  .header__main-header #inner-header {
    padding: 0;
    flex: 1; }
    .header__main-header #inner-header #logo {
      margin: 12px 0 0 10px; }
      .header__main-header #inner-header #logo img {
        width: 175px;
        height: 100%; }
  .header__main-header .nav__drawer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0% !important;
    overflow: hidden;
    -webkit-transition: height 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: height 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transition: height 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    background: #ff7e99;
    color: #fff;
    display: block; }
    .header__main-header .nav__drawer a {
      text-transform: uppercase; }
    .header__main-header .nav__drawer .nav__drawer-wrapper .nav__drawer-header {
      display: flex; }
      .header__main-header .nav__drawer .nav__drawer-wrapper .nav__drawer-header .js-close-drawer {
        color: #FFF;
        left: 0px;
        font-size: 2em; }
      .header__main-header .nav__drawer .nav__drawer-wrapper .nav__drawer-header #inner-header {
        padding: 0;
        flex: 1; }
      .header__main-header .nav__drawer .nav__drawer-wrapper .nav__drawer-header .nav__drawer-links {
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 20px 0 10px; }
        .header__main-header .nav__drawer .nav__drawer-wrapper .nav__drawer-header .nav__drawer-links a {
          color: #FFF;
          padding: 10px 20px 10px;
          border: 0px solid #FFF;
          font-size: 0.8em; }
          .header__main-header .nav__drawer .nav__drawer-wrapper .nav__drawer-header .nav__drawer-links a:hover {
            color: #67666a;
            border: 1px solid #67666a; }

/* ----------------  MAIN NAV  ----------------- */
/* --------------------------------------------- */
ul.nav__drawer-menu {
  margin-top: 40px;
  padding: 0px 10px 20px; }
ul li a {
  color: #FFF;
  text-transform: uppercase;
  border-bottom: 1px solid #FFF;
  padding: 20px 0px 20px 0px;
  text-align: center;
  vertical-align: middle;
  display: block;
  font-weight: 400;
  letter-spacing: 0.2em; }
  ul li a:hover {
    color: #67666a;
    background: #FFF;
    font-weight: 600; }
ul .current-menu-item a, ul .current-page-item a {
  color: #FFF;
  background: #ffa4ad; }

#social-buttons {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; }
  #social-buttons ul.social-media-icons {
    display: flex;
    margin: 0 auto;
    width: 70%; }
    #social-buttons ul.social-media-icons li {
      flex: 1; }
      #social-buttons ul.social-media-icons li a {
        padding: 10px 10px 20px 10px;
        border-bottom: none;
        color: #FFF; }
        #social-buttons ul.social-media-icons li a:hover {
          color: #67666a;
          background: none; }

header.nav--open {
  height: 53px;
  overflow: visible; }

.nav--open {
  position: fixed;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 0;
  overflow: hidden; }
  .nav--open .nav__drawer {
    height: 100vh !important;
    height: 100% !important;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }

/* ----------------  CONTENT  ----------------- */
/* -------------------------------------------- */
#content {
  margin-top: 75px;
  max-width: 100%; }

#inner-content {
  display: block; }

.article-header {
  border-bottom: 1px solid #67666a;
  margin: 10px; }
  .article-header .entry-title {
    font-weight: lighter;
    letter-spacing: 0.05em; }
    .article-header .entry-title a {
      color: #67666a; }
      .article-header .entry-title a:hover {
        color: #ffa4ad; }
  .article-header .byline {
    padding: 10px 0;
    color: #67666a;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    text-transform: uppercase; }

.entry-content {
  padding: 10px; }

.article-footer {
  padding: 10px; }

/* ----------------  SIDEBAR  ----------------- */
/* -------------------------------------------- */
.sidebar {
  padding: 10px;
  background: #FFF;
  margin-top: 27px; }
  .sidebar .widget {
    margin: 0 0 10px;
    padding: 10px; }
    .sidebar .widget p {
      font-family: "hypatia-sans-pro";
      font-size: 14px;
      font-weight: lighter;
      line-height: 1.25em; }
    .sidebar .widget ul li a {
      color: #ffa4ad;
      text-transform: uppercase;
      border-bottom: 1px solid #F2F2F2;
      padding: 10px 0px 10px 10px;
      text-align: left;
      vertical-align: middle;
      display: block;
      font-size: 0.8em;
      font-weight: 400;
      letter-spacing: 0; }
      .sidebar .widget ul li a:hover {
        color: #FFF;
        background: #ffa4ad;
        font-weight: 600; }
  .sidebar .social-widget {
    padding: 10px;
    background: #ff7e99; }
    .sidebar .social-widget h4.widgettitle {
      color: #FFF;
      border-color: #FFF; }
  .sidebar h4.widgettitle {
    color: #67666a;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    border-bottom: 1px solid #67666a;
    padding: 0 0 10px 10px;
    text-align: left;
    text-transform: uppercase; }
  .sidebar #social-buttons ul.social-media-icons {
    display: flex;
    margin: 0;
    width: 100%; }
    .sidebar #social-buttons ul.social-media-icons li {
      flex: 1; }
      .sidebar #social-buttons ul.social-media-icons li a {
        padding: 10px 5px; }
        .sidebar #social-buttons ul.social-media-icons li a:hover {
          color: #ffa4ad;
          background: none; }

/* ----------------  FOOTER  ----------------- */
/* ------------------------------------------- */
.footer {
  width: 100%;
  padding: 20px;
  background: #FFF;
  border-top: 1px solid #F2F2F2; }
  .footer #inner-footer p {
    font-family: "hypatia-sans-pro"; }

@media (min-width: 768px) {
  .header__main-header #inner-header #logo img {
    width: 300px; }

  /* ----------------  NAV  ----------------- */
  /* ---------------------------------------- */
  /* ----------------  CONTENT  ----------------- */
  /* -------------------------------------------- */
  #content {
    padding: 10px; }

  #inner-content {
    display: flex; }
    #inner-content #main {
      width: 70%;
      padding: 0 10px 0 0; }

  /* ----------------  SIDEBAR  ----------------- */
  /* -------------------------------------------- */
  .sidebar {
    padding: 10px;
    width: 30%; }
    .sidebar .widgettitle {
      text-align: center; } }
@media (min-width: 1200px) {
  .header__main-header {
    border-bottom: 1px solid #F2F2F2;
    display: flex;
    padding: 60px 0 10px;
    -webkit-transition: padding-top 0.3s ease-out;
    -moz-transition: padding-top 0.3s ease-out;
    transition: padding-top 0.3s ease-out; }
    .header__main-header.scrolled {
      padding: 10px 0 10px;
      -webkit-transition: padding-top 0.3s ease-out;
      -moz-transition: padding-top 0.3s ease-out;
      transition: padding-top 0.3s ease-out; }

  .row {
    max-width: 1200px;
    margin: 0 auto; }

  .js-open-drawer {
    display: none; }

  /* ----------------  NAV  ----------------- */
  /* ---------------------------------------- */
  #inner-header {
    display: flex;
    text-align: right; }
    #inner-header img {
      width: 600px;
      height: 100%; }

  .nav__drawer {
    display: none; }

  .desktop-nav {
    display: flex;
    flex: 1;
    flex-direction: row-reverse; }
    .desktop-nav ul.desktop-nav-menu {
      display: flex;
      margin: 0; }
      .desktop-nav ul.desktop-nav-menu li {
        padding: 0; }
        .desktop-nav ul.desktop-nav-menu li a {
          border: none;
          color: #ffa4ad;
          padding: 20px; }
          .desktop-nav ul.desktop-nav-menu li a:hover {
            color: #ff7e99;
            background: none;
            border-bottom: 2px solid #ff7e99;
            font-weight: 400; }
      .desktop-nav ul.desktop-nav-menu .current-menu-item a, .desktop-nav ul.desktop-nav-menu .current-page-item a {
        color: #ff7e99;
        background: none;
        border-bottom: 2px solid #ff7e99; }

  /* ----------------  CONTENT  ----------------- */
  /* -------------------------------------------- */
  #content {
    padding: 10px;
    margin-top: 150px; }

  #inner-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto; }
    #inner-content #main {
      flex: 1;
      padding: 0 10px 0 0; }
    #inner-content .sidebar {
      padding: 10px;
      width: 300px; } }
div.sharedaddy div.sd-block {
  border-top: 1px solid #ff7e99;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ff7e99;
  padding: 0; }

.single-format-quote div.sharedaddy div.sd-block {
  display: block; }

div.sharedaddy .sd-content {
  width: 100%;
  margin-top: 10px;
  margin-top: 1rem; }

div.sharedaddy a.sd-button {
  border: none !important;
  box-shadow: none; }

.sd-social-icon-text a.sd-button a.sd-button {
  opacity: 1;
  padding: 4px 10px;
  padding: 0.4rem 1rem; }

li.share-facebook a.sd-button,
li.share-google-plus-1 a.sd-button,
li.share-tumblr a.sd-button,
li.share-pinterest a.sd-button,
li.share-twitter a.sd-button,
li.share-pocket a.sd-button {
  background: none;
  box-shadow: none;
  border: none;
  font-family: "verdana", arial;
  font-size: 18px !important;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: uppercase;
  background-image: none !important;
  padding: 8px 20px !important; }

li.share-facebook a.sd-button span,
li.share-google-plus-1 a.sd-button span,
li.share-tumblr a.sd-button span,
li.share-pinterest a.sd-button span,
li.share-twitter a.sd-button span,
li.share-pocket a.sd-button span {
  color: #fff !important; }

li.share-facebook a.sd-button:hover,
li.share-twitter a.sd-button:hover,
li.share-google-plus-1 a.sd-button:hover,
li.share-tumblr a.sd-button:hover,
li.share-pocket a.sd-button:hover,
li.share-pinterest a.sd-button:hover {
  background: #1E8CBE !important; }

li.share-facebook a.sd-button {
  background: #4965a0 !important; }

li.share-twitter a.sd-button {
  background: #55ACEE !important; }

li.share-google-plus-1 a.sd-button {
  background: #dd4b39 !important; }

li.share-pocket a.sd-button {
  background: #F15367 !important; }

li.share-pinterest a.sd-button {
  background: #D5222A !important; }

.sd-button span.share-count {
  display: none; }

h3.sd-title::before {
  border-top: none !important; }

h3.sd-title {
  float: left;
  margin-right: 10px !important;
  padding-top: 10px; }

a.sd-button.share-more {
  padding: 8px 20px !important;
  font-size: 18px !important; }

/*# sourceMappingURL=styles.css.map */
