@import 'variables'

@media ( min-width: $breakpoint-tablet )  
  .header__main-header
    #inner-header
      #logo  
        img 
          width: 300px
          
    
  /* ----------------  NAV  ----------------- */
  /* ---------------------------------------- */
  .nav__drawer
    
    ul
     


  /* ----------------  CONTENT  ----------------- */
  /* -------------------------------------------- */
      
  #content
    padding: 10px

  #inner-content
    display: flex
    
    #main
      width: 70%
      padding: 0 10px 0 0


  /* ----------------  SIDEBAR  ----------------- */
  /* -------------------------------------------- */     
  .sidebar
    padding: 10px
    width: 30%
    
    .social-widget

    .widgettitle
      text-align: center